@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Maven+Pro:wght@700&display=swap");

// font-family: 'Maven Pro', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Mulish", sans-serif;
}

body {
  display: grid;
}
